:root {
  --top-bar-color: #021431;
  --body-color: #F0F4F8;
  --navbar-color: #F8F9FA;
  --text-color: #394E6A;
  --text-s: #102A43;
  --white-off: rgb(199, 199, 199);
  --white-less-off: rgb(226, 224, 224);
  --primary-color-1: #3B82F6;
  --primary-color-2: #015ABB;
  --primary-color-3: #BFDBFE;
  --gray-color: #C7C9D1;
  --danger: #F8D7DA;
  --success: rgb(209,231,221);
  --alert-warning: #FFF3CD;
  --alert-check-warning: #664D03;
  --alert-check-danger: #75272e;
  --alert-success: #D1E7DD;
  --alert-check-success: #0A3622;
  --alert-check-info: #292929;
  --info: #FCFCFD;
  --pending: rgb(233,185,73);
  --pending-2: rgb(252,239,199);
  --interview: rgb(100,122,203);
  --interview-2: rgb(224,232,249);
  --declined: rgb(214,106,106);
  --declined-2: rgb(255,238,238);
}
html{
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}
main{
  background-color: var(--body-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content !important;
  padding-bottom: 200rem;
}
ul {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
.underline{
  display: block;
  background-color: var(--primary-color);
  width: 100px;
  height: 3px;
  margin: 0 auto;
}
h1{
color: var(--primary-color-1);
}
.my-h1{
  font-size: 2.2rem;
  font-weight: 700;
}
.btn-cstm1{
background-color: var(--primary-color-1);
color: #fff;
padding-block: .5rem;
border-radius: 5px;
border: none;
letter-spacing: 1px;
font-family: Arial, Helvetica, sans-serif;
box-shadow: 0px 1px 1px rgba(0, 0, 0, .2);
transition: all .3s ease-in-out;
}
.btn-cstm1:hover{
background-color: var(--primary-color-2);
}
.my-alert{
  top: 2rem;
  position: absolute;
  left: 0;
  right: 0;
  width: 350px;
  margin-inline: auto;
  padding: 1rem;
  border-radius: 5px;
  /* color: var(--alert-check-danger); */
  border-width: 1px;
  border-style: solid;
  /* border: 1px solid var(--alert-check-danger); */
  /* background-color: var(--alert-danger); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 3;
  /* visibility: hidden; */
}
.cls-btn{
  background-color: transparent;
  border: none;
}
@keyframes fadeOut {  
  from {  
      opacity:1;  
  }  

  to {  
      opacity:0;  
  }  
}
@keyframes fadeIn {  
  from {  
    opacity:0;  
  }  

  to {  
      opacity:1;  
    }  
}
.show-alert{
  animation: fadeIn 1s ease-in; 
  opacity: 1;
  visibility: visible;
  z-index: 3;
}
.hide-alert{
  animation: fadeOut 1s ease-out; 
  opacity: 0;
  z-index: -1;
}
.logo{
  background-color: var(--primary-color-1);
  padding: .5rem .8rem;
  margin-right: 1rem;
  border-radius: 5px;
  box-shadow: 1px 0px 2px rgba(0, 0, 0, .2);
  color: var(--body-color);
}
.my-header{
  margin-bottom: 3rem;
}
.lr-link{
  text-decoration: none;
  background-color: var(--primary-color-1);
  color: var(--body-color);
  padding: .5rem .8rem;
  border-width: 1.5px;
  font-size: 1.2rem;
  border-style: solid;
  border-radius: 5px;
  box-shadow: 1px 0px 2px rgba(0, 0, 0, .2);
  transition: all .4s ease-in-out;
  border-color: var(--primary-color-1);
}
.lr-link:hover{
  background-color: var(--body-color);
  color: var(--primary-color-1);
}
.my-sidebar{
  background-color: var(--navbar-color);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 400px;
  cursor: pointer;
}
.nav-item{
  padding-left: 1.7rem;
  text-decoration: none;
  transition: all .3s ease-in-out;
  /* background-color: #0A3622; */
  font-size: 1.25rem;
  padding-block: .8rem;
}
.nav-item:hover{
  background-color: var(--primary-color-3);
}
.dashboard{
  margin-top: 4rem;
  height: auto !important;
}
.my-dropdown-menu{
  background-color: var(--primary-color-3);
  border-radius: 5px;
  position: absolute;
  top: 110%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, .2);
  right: 0;
  width: 100%;
  text-align: center;
  transition: all .3s ease-in-out;
}
.my-dropdown-item{
  height: 32px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.1rem;
  width: 100%;
  font-weight: 600;
  letter-spacing: 1px;
  color: var(--alert-check-danger);
  background-color: var(--danger);
  transition: all .3s ease-in-out;
}
.my-dropdown-item:hover{
  border-radius: 5px;
  color: var(--danger);
  background-color: var(--alert-check-danger);
}
.show-dropdown{
  display: block;
}
.hide-dropdown{
  display: none;
}
.title-job{
  font-size: 1.1rem;
}
.body-job{
  font-size: 1rem;
}
.title-job,
.body-job{
  color: var(--text-color);
}
.my-clear-btn{
  background-color: rgb(248,215,218);
  font-size: 1.1rem;
  color: rgb(132,43,68);
  letter-spacing: 1px;
  font-weight: 500;
  padding-inline: 3rem;
  transition: all .2s ease-in-out;
  border-radius: 5px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, .2);
  border: none;
}
.my-clear-btn:hover{
  background-color: rgb(132,43,68);
  color: rgb(248,215,218);
}
.my-newBtns{
  padding: .2rem .8rem;
  border-radius: 5px;
  transition: all .2s ease-in-out;
}
.my-newBtns:hover{
  opacity: 70%;
}
@media screen and (min-width: 770px) {
  .my-header{
    margin-bottom: 0;
  }
}
